.THIS .contentPanel:before,
.THIS .contentPanel:after {
content: " ";
display: table;
}
.THIS .contentPanel:after {
clear: both;
}
.THIS .contentPanel {
    list-style:none;
    width:100%;
}
.THIS .left {
	float: left;
	width:500px;
}
.THIS .right {
	float: right;
   width:500px;
}