.THIS {
    font-family: 'Open Sans', sans-serif;
}

.THIS .navigation-home {
    background-color: #1C29A7;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    border: none;
    color:#fff;
    padding: 5px 5px;
    margin: 0px 0px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: block;
}

.THIS .navigation-back {
    background-color: #939598;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    border: none;
    color:#fff;
    padding: 5px 5px;
    margin: 0px 0px;
    width: 100%;
    text-align: right;
    text-decoration: none;
    display: block;
}

.THIS .navigation-item-wrapper {
    padding: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid #c2c2c2;
    background-clip: padding-box;
    display: block;
}

.THIS .navigation-item {
    display: flex;
    overflow: hidden;
    height: 55px;
    padding: 0.55rem;
}

.THIS .navigation-item-text {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    text-align: left;
    border: none;
    padding: 5px 5px;
    background-clip: padding-box;
    display: block;
    line-height: 1.25;
}

.THIS .welcome-content-wrapper {
    padding-top: 25px;    
}

.THIS .welcome-content-text {
    font-size: 0.875rem;
    font-family: calibri,sans-serif;
    line-height: 1.25;
    color: rgb(0, 0, 0);
    /*text-align: justify;
    text-justify: inter-word;*/
}

.THIS .faculty-content-wrapper {
    padding: 5px;
    padding: 5px;    
    box-shadow: 0 4px 2px -2px gray;
    display: block;
}

.THIS .faculty-content {
    display: flex;
    padding-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.THIS .faculty-content-text {
    font-size: 0.875rem;
    font-family: calibri,sans-serif;
    line-height: 1.25;
    color: rgb(0, 0, 0);
    text-align: justify;
    text-justify: inter-word;
}

.THIS .program-content-category {
    margin-top: -30px;
}