.THIS {
}

.THIS .breadcrumb {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
    border: none;
	color:#1C29A7;
	padding: 10px 10px;
    margin: 0px 0px;
    width: 90%;
	text-align: left;
	vertical-align: middle;
    text-decoration: none;
}