.THIS {
    border-style: solid;
    border-color: rgb(0,0,0);
    border-width: 1px;
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    margin: 2px;
}
.THIS:hover {
    background-color: #AAAAAA;
}
.THIS:active {
    background-color: #AAAAAA;
}