<apex:page language="en" applyBodyTag="false" applyHtmlTag="true" cache="false" showChat="false" showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" html-lang="en">

<!-- <html lang="#rn:language_code#" xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <!--<![endif]-->

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
        <!-- <title><rn:page_title/></title> -->
        <title>Contact Us</title>
        <!-- <rn:widget path="search/BrowserSearchPlugin" pages="home, answers/list, answers/detail" /> -->
        <meta name="description" content="SG2 Reitmans CA"/>
        <meta name="keywords" content="SG2 Reitmans CA"/>
        <link href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/lib/jquery/css/themes/base/ui.all.css" type="text/css" rel="stylesheet" />
        <!-- <rn:head_content/> -->
        <link rel="apple-touch-icon" sizes="57x57" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/apple-touch-icon-57x57.png?v=2" />
        <link rel="apple-touch-icon" sizes="60x60" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/apple-touch-icon-60x60.png?v=2" />
        <link rel="apple-touch-icon" sizes="72x72" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/apple-touch-icon-72x72.png?v=2" />
        <link rel="apple-touch-icon" sizes="76x76" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/apple-touch-icon-76x76.png?v=2" />
        <link rel="apple-touch-icon" sizes="114x114" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/apple-touch-icon-114x114.png?v=2" />
        <link rel="apple-touch-icon" sizes="120x120" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/apple-touch-icon-120x120.png?v=2" />
        <link rel="apple-touch-icon" sizes="144x144" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/apple-touch-icon-144x144.png?v=2" />
        <link rel="apple-touch-icon" sizes="152x152" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/apple-touch-icon-152x152.png?v=2" />
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/apple-touch-icon-180x180.png?v=2" />
        <link rel="icon" type="image/png" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/favicon-32x32.png?v=2" sizes="32x32" />
        <link rel="icon" type="image/png" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/android-chrome-192x192.png?v=2" sizes="192x192" />
        <link rel="icon" type="image/png" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/favicon-96x96.png?v=2" sizes="96x96" />
        <link rel="icon" type="image/png" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/favicon-16x16.png?v=2" sizes="16x16" />
        <link rel="manifest" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/manifest.json?v=2" />
        <link rel="shortcut icon" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/favicon.ico?v=2" />
        <meta name="apple-mobile-web-app-title" content="Reitmans.com" />
        <meta name="application-name" content="Reitmans.com" />
        <meta name="msapplication-TileColor" content="#2d89ef" />
        <meta name="msapplication-TileImage" content="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/images/icons/mstile-144x144.png?v=2" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="stylesheet" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/css/normalize.css" />
        <!-- Creates problems in ie8 -->
        <link rel="stylesheet" media="print" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/css/print.css" />
        <!--[if lte IE 10]>
            <style type="text/css">
                /* Fix for flyout menus not usable with IE <= 10*/
                div.level-2 .menu-wrapper {
                    top:0px !important;
                }
            </style>
        <![endif]-->
        <link href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/lib/fontello/css/fontello-embedded.css" rel="stylesheet" />
        <link href="//cloud.typography.com/7167554/635326/css/fonts.css" rel="stylesheet" />
        <!-- <link href="//goreit.com/ecommerce/RE/fonts/Neutraface2/neutraface2.css" rel="stylesheet"> -->
        <link href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/lib/fontello/css/animation.css" rel="stylesheet" />
        <script src="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/lib/jquery/jquery-1.7.1.min.js"></script>
        <script>
        jQuery(document).ready(function() {
            $(".menu-utility .mobile-menu-button").html("<button class='hamburger hamburger--squeeze' type='button'><span class='hamburger-box'><span class='hamburger-inner'></span></span></button>");
            $(".hamburger").on("click", function(e) {
                $(".hamburger").toggleClass("is-active");
            });
        });
        </script>
        <script>var app={};</script>
        <!-- Modernizr will implement all the missing functionality for IE8 -->
        <script src="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/lib/modernizr/modernizr.js"></script>
        <script src="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/lib/jquery/jquery-ui-1.8.21.custom.min.js"></script>
        <script src="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/js/responsive.js"></script>
        <script src="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/lib/jquery/validate/jquery.validate.min-1.9.0.js" type="text/javascript"></script>
        <script type="text/javascript">

        function isMobile() {
        var mobileAgentHash = 'android,webos,iphone,ipad,ipod,blackberry,iemobile,opera mini,mobile,tablet,phone,windows ce,palm'.toLowerCase().split(','),
        idx = 0,
        item = null,
        isMobile = false,
        userAgent = window.navigator.userAgent.toLowerCase();
        while (item = mobileAgentHash[idx] && !isMobile) {
        isMobile = (userAgent.indexOf(mobileAgentHash[idx]) >= 0);
        idx++;
        }
        //return true;
        return isMobile;
        }
        (function(app){
        app.isMobileUser = isMobile();
        app.constants = {"AVAIL_STATUS_IN_STOCK":"IN_STOCK","AVAIL_STATUS_PREORDER":"PREORDER","AVAIL_STATUS_BACKORDER":"BACKORDER","AVAIL_STATUS_NOT_AVAILABLE":"NOT_AVAILABLE","PI_METHOD_GIFT_CERTIFICATE":"GIFT_CERTIFICATE","US_SHIPMENT_THRESHOLD":800,"UTM_MEDIUM_ISSUBMITTED":true,"UTM_MEDIUM":"","CATEGORY_ID":"","IS_RECOMMENDATION":"","ENTRY_NEWSLETTER_HOPUP":false,"PAYPAL_ENABLED":true,"PAYPAL_ADDRESS_ERROR":null};
        app.resources = {"GEOLOCATION_ERROR":"Désolé, nous ne sommes pas en mesure de trouver votre code postal.  Veuillez le saisir manuellement.","SEARCH_SUGGESTION":"Suggestions de recherche","SHIP_QualifiesFor":"","CC_LOAD_ERROR":"Impossible d'ajouter la carte de crédit.","PLUS":"Plus","MINUS":"Moins","FULLSCREEN":"Plein écran","REG_ADDR_ERROR":"L'adresse n'a pû être ajoutée.","BONUS_PRODUCT":"Produit Bonus","BONUS_PRODUCTS":"Produit(s) bonus ","SELECT_BONUS_PRODUCTS":"Sélectionnez {0} Produit(s) Bonus","SELECT_BONUS_PRODUCT":"Sélectionnez","BONUS_PRODUCT_MAX":"","SIMPLE_SEARCH":"Recherche","SUBSCRIBE_EMAIL_DEFAULT":"Adresse courriel","ESTIMATOR_LABEL_PROVINCE":"Province :","ESTIMATOR_LABEL_STATE":"État :","ESTIMATOR_LABEL_PROVINCESTATE":"Province/État","US_SHIPMENTTHRESHOLD_WARNING_TITLE":"AVIS DE LIVRAISON","CURRENCY_SYMBOL":"C$","MISSINGVAL":"Veuillez entrer {0}","SERVER_ERROR":"La connection au serveur a échoué!","MISSING_LIB":"jQuery n'est pas défini.","BAD_RESPONSE":"Mauvaise réponse, erreur de traitement","INVALID_PHONE":"Veuillez entrer un numéro de téléphone valide.","INVALID_EMAIL":"Veuillez entrer une adresse courriel valide.","INVALID_CONFIRM_EMAIL":"L'adresse courriel doit être identique à celle identifiée précédemment.","INVALID_ADDRESS":"Adresse doit avoir un minimum de 5 caractères","INVALID_CITY":"Ville doit avoir un minimum de 3 caractères","INVALID_PASSWORD":"Votre mot de passe doit contenir de 6 à 255 caractères","INVALID_STATE":"Veuillez sélectionner une province/un état.","INVALID_POSTALCODE":"S'il vous plait, entrez un code postal valide (A1A 1A1) ou (12345)","INVALID_CA_POSTALCODE":"S'il vous plait, entrez un code postal valide (A1A 1A1)","INVALID_ZIP_LENGTH":"Code Postal doit avoir un maximum de 5 caractères","REMOVE":"Supprimer","QTY":"QTÉ ","EMPTY_IMG_ALT":"Supprimer","COMPARE_BUTTON_LABEL":"Compare Items","COMPARE_CONFIRMATION":"This will remove the first product added to compare.  Is that OK?","COMPARE_REMOVE_FAIL":"Unable to remove item from list","COMPARE_ADD_FAIL":"Unable to add item to list","ADD_TO_CART_FAIL":"Impossible d'ajouter l'article '{0}' au sac","REGISTRY_SEARCH_ADVANCED_CLOSE":"","QUICKVIEW":"Aperçu","QUICK":"","VIEW":"Aperçu","PRODUCT_QUICKVIEW":"Aperçu","WRONG_PC_FORMAT":"Le code postal est incorrect. Pour le Canada utilisez ce format 'A1A 1A1' et aux Étas-unis celui ci '01801'","STATEPROVINCE":"Province / État","ZIPPOSTALCODE":"Code postal","GIFT_CERT_INVALID":"","GIFT_CERT_BALANCE":"","GIFT_CERT_AMOUNT_INVALID":"Gift Certificate can only be purchased with a minimum of $5 and maximum of $5000","GIFT_CERT_MISSING":"","CONFIRM_EMAIL_NO_MATCH":"Le courriel de confirmation ne correspond pas à la valeur du courriel","CONFIRM_PASSWORD_NO_MATCH":"La confirmation doit être identique au mot de passe.","COUPON_CODE_MISSING":"S'il vous plait entrer le code coupon.","APPLIED":"Appliqué","INVALID_CODE":"cart.invalidcode","CART_COUPON_INVALID":"Votre code de promo comporte une erreur.","DUEDATE_MISSING":"Veuillez entrer une date d'accouchement valide ou sélectionnez 'je ne suis pas enceinte'.","BIRTHDAY_MISSING":"Veuillez choisir une date valide","COOKIES_DISABLED":"Votre navigateur est configuré pour ne pas accepter les témoins. Veuillez modifier ces paramètres ou vérifier si un autre programme bloque les témoins.","BML_AGREE_TO_TERMS":"You must agree to the terms and conditions","CHAR_LIMIT_MSG":"{0} caractères restants sur {1}","CONFIRM_DELETE":"Voulez-vous supprimer ce {0}?","YES":"Oui","CANCEL":"Annuler","TITLE_GIFTREGISTRY":"gift registry","TITLE_ADDRESS":"adresse","TITLE_CREDITCARD":"carte de credit","SERVER_CONNECTION_ERROR":"La connection au serveur a échoué!","IN_STOCK_DATE":"","IN_STOCK_STORE":"Disponible dans votre magasin favori","NOTIN_STOCK_STORE":"Non disponible dans votre magasin favori","INIFINITESCROLL":"Show All","STORE_NEAR_YOU":"Le trouver en magasin","SELECT_STORE":"Sélectionnez un magasin","SELECTED_STORE":"Sélectionnez un magasin","PREFERRED_STORE":"Magasin favori","SET_PREFERRED_STORE":"Sélectionnez votre magasin favori","ENTER_ZIP":"","INVALID_ZIP":"Veuillez entrer un code postal valide","SEARCH":"Recherche","FOR":"Pour","CHANGE_LOCATION":"modifier l'emplacement","CONTINUE_WITH_STORE":"Continuer avec votre magasin préféré","CONTINUE":"Continuer","SEE_MORE":"AUTRES MAGASINS","SEE_LESS":"AFFICHER MOINS DE MAGASINS","ITEM_AVAILABLE":"Disponible dans votre magasin préféré","ITEM_NOT_AVAILABLE":"Non disponible dans votre magasin préféré","LOCATE_ME":"Trouve-moi","BILL_TO":"Facturer:","ACCOUNT_EXISTS":"Cette adresse courriel existe déjà.","PROVINCE_AB":"Alberta","PROVINCE_BC":"Colombie-Britannique","PROVINCE_MB":"Manitoba","PROVINCE_NB":"Nouveau-Brunswick","PROVINCE_NL":"Terre-Neuve et Labrador","PROVINCE_NT":"Territoires du Nord-Ouest","PROVINCE_NS":"Nouvelle-Écosse","PROVINCE_NU":"Nunavut","PROVINCE_ON":"Ontario","PROVINCE_PE":"île-du-Prince-Édouard ","PROVINCE_QC":"Québec","PROVINCE_SK":"Saskatchewan","PROVINCE_YT":"Yukon","STORE_DETAILS_TITLE":"Détails du magasin","STORE_DETAILS_HOURS":"Carte","STORE_DETAILS_MAP":"Heures de magasins","STORE_DETAILS_HELP":"Aide","XE_TEMPLATE":"13Q","XE_TEMPLATE_fr_CA":"13Q-FR","PRICE_CONVERT_DIALOG":"Convertir en USD","PRICE_CONVERT_DIALOG_WIDTH":"387","SIGNUP_SUCCESS_BREADCRUMB":"Confirmation de l’inscription à l’infolettre","ORDER_VIEW_ALL":"(Tout voir)","PRELOAD_TEXT":"Chargement zoom","SEND_TO_A_FRIEND":"Envoyer à un(e) ami(e)","SHOWSTORE_FIELD_NAME":"dwfrm_singleshipping_shipToStore_showStore","CONTINUE_PAYPAL":"PAYER AVEC PAYPAL<span class=\"icon-lock\"></span>","CONTINUE_CHECKOUT":"Continuer la commande<span class=\"icon-lock\"></span>","PP_BASE":"L'address qui parvient de PayPal contient ","PP_AND":"et ","PP_INVALID_COUNTRY":"un pays invalide","PP_INVALID_STATE":"un état invalide","PP_INVALID_PROVINCE":"une province invalide","PP_INVALID_COUNTRY_NON_CA_US":"Désolé, seules les adresses canadiennes et américaines sont acceptées","IN_STOCK":"Disponible","QTY_IN_STOCK":"{0} article(s) disponible(s).","PREORDER":"","QTY_PREORDER":"","REMAIN_PREORDER":"","BACKORDER":"","QTY_BACKORDER":"","REMAIN_BACKORDER":"","NOT_AVAILABLE":"En rupture de stock en ligne.","REMAIN_NOT_AVAILABLE":"Stock insuffisant pour compléter votre commande. Veuillez ajuster la quantité avant de passer à la caisse.","FIND_IN_STORE_HINT":"<strong>#PRODUCT# #COLOR# n'est pas disponible en #SIZE#</strong><br />Veuillez cliquer sur l'échantillon puis sur \"Trouver en magasin\" pour chercher en magasin.","FIND_IN_STORE_ZIP_FIELD_ID":"dwfrm_storelocator_postalCode"};
        app.urls = {"appResources":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Resources-Load","pageInclude":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Page-Include","continueUrl":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Home-Page/C1976329968","staticPath":"/on/demandware.static/Sites-Reitmans_CA-Site/-/fr_CA/v1475248557466/","addGiftCert":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/GiftCert-Purchase","minicartGC":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/GiftCert-ShowMiniCart","addProduct":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Cart-AddProduct","minicart":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Cart-MiniAddProduct","cartShow":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Cart-Show","cartShowHttp":"http://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Cart-Show","cartEstimate":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/CartEstimate-Estimate","getShippingMethods":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/CartEstimate-GetApplicableShippingMethods","getStates":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/CartEstimate-GetStates_AJAX","giftRegAdd":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Address-GetAddressDetails?addressID=","paymentsList":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/PaymentInstruments-List","addressesList":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Address-List","wishlistAddress":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Wishlist-SetShippingAddress","deleteAddress":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Address-Delete","getProductUrl":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Product-Show","getBonusProducts":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Product-GetBonusProducts","addBonusProduct":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Cart-AddBonusProduct","getSetItem":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Product-GetSetItem","productDetail":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Product-Detail","getAvailability":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Product-GetAvailability","removeImg":"/on/demandware.static/Sites-Reitmans_CA-Site/-/default/dw0eabb2f8/images/interface/icon_remove.gif","searchsuggest":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Search-GetSuggestions","productNav":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Product-Productnav","summaryRefreshURL":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/COBilling-UpdateSummary","billingSelectCC":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/COBilling-SelectCreditCard","updateAddressDetails":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/COShipping-UpdateAddressDetails","updateAddressDetailsBilling":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/COBilling-UpdateAddressDetails","shippingMethodsJSON":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/COShipping-GetApplicableShippingMethodsJSON","shippingMethodsList":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/COShipping-UpdateShippingMethodList","selectShippingMethodsList":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/COShipping-SelectShippingMethod","resetPaymentForms":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/COBilling-ResetPaymentForms","compareShow":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Compare-Show","compareAdd":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Compare-AddProduct","compareRemove":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Compare-RemoveProduct","compareEmptyImage":"/on/demandware.static/Sites-Reitmans_CA-Site/-/default/dw4f8f8347/images/comparewidgetempty.png","giftCardCheckBalance":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/COBilling-GetGiftCertificateBalance","addCoupon":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Cart-AddCoupon","removeCoupon":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Cart-RemoveCoupon","powerReviewsFullJs":"/on/demandware.static/-/Sites-Reitmans-site-catalog/fr_CA/v1475248557466/pwr/engine/js/full.js","powerReviewsZip":"/on/demandware.static/-/Sites-Reitmans-site-catalog/fr_CA/v1475248557466","storeLocatorPage":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/StoreInventory-Find","storesInventory":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/StoreInventory-Inventory","storesLookup":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/StoreInventory-Lookup","setPreferredStore":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/StoreInventory-SetPreferredStore","getPreferredStore":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/StoreInventory-GetPreferredStore","setZipCode":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/StoreInventory-SetZipCode","getZipCode":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/StoreInventory-GetZipCode","confirmSubscription":"https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Newsletter-Subscribe","shipToStoreFindClosest":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/ShipToStore-FindClosest","shipToStoreAssignStore":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/ShipToStore-AssignStore","shipToStoreAssignProvince":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/ShipToStore-AssignProvince","shipToStoreAssignCity":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/ShipToStore-AssignCity","seeWhyEndpoint":"abandonment6.saas.seewhy.com","findItInStore":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Product-FindInStore","storeDetails":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/Stores-Details","inventoryForPIDs":"/on/demandware.store/Sites-Reitmans_CA-Site/fr_CA/StoreInventory-GetForPIDs"};
        app.clientcache = {"LISTING_INFINITE_SCROLL":true,"LISTING_REFINE_SORT":true,"LISTING_SEARCHSUGGEST_LEGACY":true};
        app.enabledStorePickup = true;
        app.shipToStoreEnabled = false
        app.shippingAddressObj = {"firstName":"","lastName":"","address1":"","address2":"","city":"","postalCode":"","phone":"","countryCode":"","stateCode":""};
        app.iseRequestSuccessful = true;
        var storeSettings =

        [{"storeId":null}],
        zipSettings =

        [{"zip":null}];
        app.user = {
        zip : zipSettings.pop().zip,
        storeId : storeSettings.pop().storeId
        };
        app.pdpZoomType = {
        sg2default : false,
        buttonZoom : false,
        enhancedZoom : true
        };

        app.totalTransactionValue = 0;

        }(window.app = window.app || {}));</script>
        <script src="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/js/app.js"></script>
        <script src="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/js/custom.js"></script>
        <!-- UI -->
        <link rel="stylesheet" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/v1505755223168/lib/reitmans-ff/style.min.css" />
        <link rel="stylesheet" href="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/v1505755223168/css/custom.css" />
        <link rel="stylesheet" href="https://www.reitmans.com/on/demandware.static/-/Sites/default/v1505755223168/Reitmans_CA/stylesheets/custom-daily.css" />

        <script type="text/javascript">
            setTimeout(function() {
            if ($('option[value=""]').text() != "Select Reason of Contact") {
                $('option[value=""]').text("Select Reason of Contact");
            }
                $(".textinput input, .textinput textarea").trigger("change");
                $("option[value='VIP Program']").remove();
            }, 500);
        </script>

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />

        <style>
            #rn_Body {
                margin-top: 15px;
            }
            .breadcrumbs * {
                font-size: 12px;
            }
            .breadcrumbs a {
                color: #000;
            }
            .breadcrumb1.bc_divider {
                vertical-align: 1px;
                margin: 0 5px;
            }
            ol {
                padding-left: 0px;
            }
            #rn_KeywordText2_3 label, #rn_KeywordText2_8 label {
                font-size: 16px;
                width: 100%;
            }
            #rn_KeywordText2_3_Text, #rn_KeywordText2_8_Text {
                float: left;
            }
            .rn_SearchButton2 .rn_SubmitButton {
                background-color: #000;
                height: 36px;
                font: 300 16px "Verlag A", "Verlag B", sans-serif;
                width: unset;
            }
            #rn_SearchButton2_3:after, #rn_SearchButton2_8:after {
                content: " ";
                display: table;
                clear: both;
            }
            .rn_ProductCategoryList .rn_HierList h3 {
                border: none;
                line-height: 35px;
            }
            .rn_ProductCategoryList .rn_HierList h3:before {
                content: ">";
                padding-right: 5px;
                text-decoration: none;
            }
            .rn_ProductCategoryList .rn_HierList h3 a {
                font-size: 16px;
                text-decoration: underline;
            }
            #rn_AnnouncementText2_6 {
                font-size: 14px;
            }
            #rn_AnnouncementText2_6 h2 {
                font-size: 1.2em;
            }
            .rn_Multiline2 li {
                margin-bottom: 25px;
            }
            .rn_Multiline2 .rn_Element1, .rn_Multiline2 .rn_Element2 {
                font-size: 1.5em;
            }
            .rn_Multiline2 .rn_Element3 {
                font-size: 1.3em;
                color: #777;
            }
            .rn_Multiline2 .rn_ElementsHeader, .rn_Multiline2 .rn_ElementsData {
                font-size: 1em;
            }
            .rn_Highlight {
                font-style: normal;
                font-weight: 700;
                text-decoration: underline;
            }
            #rn_Summary {
                font-weight: 700;
            }
            #rn_AnswerInfo {
                font-size: 14px;
                margin-bottom: 10px;
            }
            #rn_AnswerText {
                font-family: "Verlag A", "Verlag B", sans-serif !important;
                font-size: 16px !important;
                margin: 20px 0;
            }
            #rn_AnswerText span {
                font-family: "Verlag A", "Verlag B", sans-serif !important;
                font-size: 16px !important;
                line-height: 20px !important;
            }
            #rn_AnswerText p {
                margin: 10px 0;
            }
            #rn_AnswerText li {
                margin: 7px 0;
                padding-left: 10px;
            }
            #rn_AnswerText ul li {
                list-style: inside none disc;
            }
            #rn_AnswerText ol li {
                list-style: inside none decimal;
            }
            #rn_AnswerFeedback2_5 {
                display: none;
            }
            .rn_RelatedAnswers2 ul, .rn_PreviousAnswers2 ul {
                padding-left: 0;
            }
            .rn_RelatedAnswers2 ul li, .rn_PreviousAnswers2 ul li {
                font-size: 14px;
                line-height: 25px;
            }
            #rn_DetailTools {
                float: right;
                margin-bottom: 50px;
                position: relative;
                width: 420px;
            }
            #rn_DetailTools:after {
                content: " ";
                display: table;
                clear: both;
            }
            #rn_SocialBookmarkLink_8_Panel_c {
                position: absolute;
                margin-top: 25px;
                top: 0 !important;
                left: 0 !important;
            }
            #rn_SocialBookmarkLink_8, #rn_PrintPageLink_9 {
                float: right;
            }
            #rn_EmailAnswerLink_10 {
                display: none;
            }
            #rn_Grid2_3_Content {
                width: 99.5%;
            }
            .rn_Grid2 .yui-dt th, .yui-dt th a, .yui-dt th a:hover {
                font-weight: bold;
                vertical-align: middle;
            }
            /*Starts Custom*/

            .ygtvrow {
                 background-color: #fff;
            }
            .rn_Panel.rn_Hidden.yui-module.yui-overlay.yui-panel {
                width: 0;
            }
            .contact-p {
                font-size: 1.42em;
                line-height: 1em;
            }
            .rn_ProductCategoryInput button.rn_DisplayButton {
                margin-left: 210px;
            }
            .form label{
                font-size: 1em;
            }
            #rn_ProductCategoryInput_8_Tree_c #rn_ProductCategoryInput_8_Tree {
            display: block;
            overflow-y: auto;
            width: 262px;
            margin-left:210px;
            }
            #rn_ProductCategoryInput_8_Tree_c.yui-panel-container.shadow.hide-scrollbars.yui-overlay-hidden{
                display:none;
                z-index:0;
            }
            #rn_ProductCategoryInput_8_Tree_c.rn_Panel.yui-panel-container.shadow.show-scrollbars {
                z-index:0;
            }
            .rn_ProductCategoryInput .rn_Panel {
                max-width: 262px;
            }
            .rn_SimpleSearch{
                margin-left:0;
            }
            #rn_FormSubmitAjax_13_Button.btn{
                margin-left:204px;

            }
             #rn_FormSubmitAjax_13 > input {
                border-radius: 0;
                cursor: pointer;
                display: inline-block;
                font-family: "Verlag A","Verlag B",sans-serif;
                font-size: 14px;
                font-weight: 100;
                line-height: 1.42857;
                margin-bottom: 0;
                padding-bottom: 9px;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 11px;
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                border:0;
            }
            .rn_FormSubmit {
                margin-left: 202px;
                text-align: center;
                width:596px;
            }

            /*Ends Custom*/

            /*New Footer Logo updated - STARTS*/
            #footer h3 {
                font-family: "Verlag A","Verlag B",sans-serif;
            }
            #footer .all-Brandlogos-reti {
                padding-bottom: 20px;
                padding-left: 0;
                padding-right: 0;
                padding-top: 19px;
                text-align: center;
                display:inline-block;
                background-color: #000;
                vertical-align: middle;
                width:100%;
            }
            #footer .all-Brandlogos-reti .Brandlogos-reti-label {
                color: white;
                font-size: 1.8em;
                text-transform: uppercase;
                margin-bottom:10px;
            }

            .logo-footer-penningtons > img {
                width: 127px;
                margin-bottom:10px;
            }
            .logo-footer-additional > img {
                width: 200px;
                margin-bottom:10px;
            }
            .logo-footer-rw > img {
                width: 110px;
                 margin-bottom:10px;
            }
            .logo-footer-thyme > img {
               width: 70px;
                margin-bottom:10px;
            }
            .logo-hyba-active > img {
               width: 69px;
                margin-bottom:10px;
            }

            #footer .all-Brandlogos-reti .logo-footer-penningtons {
                display:inline-block;
                margin-left:28px;
                vertical-align: middle;
            }
            #footer .all-Brandlogos-reti .logo-footer-additional {
                display:inline-block;
                margin-left:28px;
                vertical-align: middle;
            }
            #footer .all-Brandlogos-reti .logo-footer-rw {
                display:inline-block;
                margin-left:28px;
                vertical-align: middle;
            }
            #footer .all-Brandlogos-reti .logo-footer-thyme {
                display:inline-block;
                margin-left:28px;
                vertical-align: middle;
            }
            #footer .all-Brandlogos-reti .logo-hyba-active {
                margin-left:28px;
                vertical-align: middle;
            }

            /*New Footer Logo updated -ENDS */

            @media screen and (min-width:960px) {
                .container_24 {
                    width: 950px;
                }
                .rn_SimpleSearch .rn_SearchImage {
                    max-width: 10%;
                }

            }
            @media screen and (max-width:767px) {
                .rn_ResultInfo2 {
                    margin-top: 30px;
                }
                .rn_ProductCategoryInput button.rn_DisplayButton{
                    margin-left: 0;
                }
                 .rn_ProductCategoryInput .rn_Panel {
                    max-width: 262px;
                }
                #rn_ProductCategoryInput_8_Tree_c.yui-panel-container.shadow.hide-scrollbars.yui-overlay-hidden{
                display:none;
                z-index:0;
                }
                #rn_ProductCategoryInput_8_Tree_c.rn_Panel.yui-panel-container.shadow.show-scrollbars {
                    z-index:0;
                }
                #rn_ProductCategoryInput_8_Tree_c #rn_ProductCategoryInput_8_Tree {
                    margin-left: 0;
                }
                .rn_SimpleSearch .rn_SearchImage {
                    max-width: 10%;
                }
                .rn_FormSubmit {
                    margin-left: 0;
                    text-align: center;
                    width:278px;
                }


            }
            @media screen and (max-width:479px) {
                .rn_SearchButton2 .rn_SubmitButton {
                    width: 100%;
                    padding: 0;
                }
                #rn_KeywordText2_3_Text, #rn_KeywordText2_8_Text {
                    width: 300px;
                }
                #rn_DetailTools {
                    margin-bottom: 70px;
                }
                .rn_ProductCategoryInput button.rn_DisplayButton{
                    margin-left: 0;
                }
                #rn_ProductCategoryInput_8_Tree_c #rn_ProductCategoryInput_8_Tree {
                display: block;
                overflow-y: auto;
                width: 262px;
                margin-left:0;
                }
                #rn_ProductCategoryInput_8_Tree_c.yui-panel-container.shadow.hide-scrollbars.yui-overlay-hidden{
                display:none;
                z-index:0;
                }
                #rn_ProductCategoryInput_8_Tree_c.rn_Panel.yui-panel-container.shadow.show-scrollbars {
                    z-index:0;
                }

                .rn_ProductCategoryInput .rn_Panel {
                    max-width: 262px;
                }
                #rn_ProductCategoryInput_8_Tree_c #rn_ProductCategoryInput_8_Tree {
                    margin-left: 0;
                }
                .rn_SimpleSearch .rn_SearchImage {
                    max-width: 10%;
                }
                .rn_FormSubmit {
                    margin-left: 0;
                    text-align: center;
                    width:176px;
                }

            }

    </style>

        <style>
            /* Fixes mobile menu to line up with header */
            @media (max-width: 767px) {
                .header #navigation ul.level-1 {
                    top: -117px;
                }
            }

            @media (max-width: 479px) {
                .header #navigation ul.level-1 {
                    top: -115px;
                }
            }
        </style>

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NNGTHC"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NNGTHC');</script>
        <!-- End Google Tag Manager -->
        <div id="browser-check" class="general">
            <noscript>
                <div class="browser-compatibility-alert">
                    <p class="browser-error">Your browser's Javascript functionality is turned off. Please turn it on so that you can experience the full capabilities of this site.</p>
                </div>
            </noscript>
        </div>
        <div class="section pt_storefront header">
            <div class="wrapper container_24">
                <div id="header" class="clearfix" role="banner">
                    <div class="header-top">
                        <div class="html-slot-container header-top"></div>
                    </div>
                    <div class="header-bar clearfix">
                        <!-- utility menu -->
                        <ul class="menu-utility">
                            <li class="mobile-menu-button"></li>
                            <li class="storefinder">
                                <a href="https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/default/Stores-Find" title="Store Locator">Store Locator</a>
                            </li>
                            <li class="help last-menu-item">
                                <a href="http://reitmans.force.com/ContactUsReitmansEng" title="Customer Service">Customer Service</a>
                            </li>
                        </ul>
                        <div class="header-bar-right clearfix">
                        <!-- utility user menu -->
                            <div class="mobile-account-button"></div>
                            <div class="menu-utility-user">
                                <ul>
                                    <li>
                                        <a title="Sign In" href="https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/default/Account-Show" class="user-login">Sign In</a>
                                    </li>
                                    <li>
                                        <a title="Register" href="https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/default/Account-StartRegister" class="user-register">Register</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mobile-search-button icon-search-1"></div>
                            <div class="header-search">
                                <form role="search" action="https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/default/Search-Show" method="get" name="simpleSearch">
                                    <fieldset>
                                        <legend class="visually-hidden">Search Catalog</legend>
                                        <label class="visually-hidden" for="q">Search</label>
                                        <input type="text" id="q" name="q" value="" placeholder="Search" />
                                        <input class="btn btn-default btn-search" type="submit" value="go" />
                                    </fieldset>
                                </form>
                            </div>
                            <div class="locale-switch">
                                <a class="btn-language" href="http://reitmans.force.com/ContactUsReitmansFr" title="FR">FR</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-second-bar clearfix">
                        <!-- branding logo -->
                        <div class="primary-logo">
                            <a href="https://www.reitmans.com">
                                <img src="https://www.reitmans.com/on/demandware.static/Sites-Reitmans_CA-Site/-/default/dw5015496b/images/logo.png" alt="Reitmans" />
                            </a>
                        </div>
                        <div class="secondary-logo"></div>
                        <div class="header-banner"></div>
                    </div>
                </div><!-- /header -->
                <div id="navigation" role="navigation">
                    <nav>
                        <div class="visually-hidden navigation-header mobile-menu-button icon-menu">Catalog Navigation</div>
                        <!-- category navigation -->
                        <ul class="menu-category level-1 clearfix">
                            <li class="level-1 category-New Arrivals first hasSubCategory line">
                                <a href="https://www.reitmans.com/en/new-arrivals" class="level-1" id="category-New Arrivals-link" data-id="New Arrivals">New Arrivals</a>
                            </li>
                            <li class="level-1 category-Women hasSubCategory line">
                                <a href="https://www.reitmans.com/en/clothing-2" class="level-1" id="category-Women-link" data-id="Women" style="padding-left: 5px; padding-right: 5px;">Shop All</a>
                            </li>
                            <li class="level-1 category-Tops hasSubCategory line">
                                <a href="https://www.reitmans.com/en/tops" class="level-1" id="category-Tops-link" data-id="Tops" style="padding-left: 5px; padding-right: 5px;">Tops</a>
                            </li>
                            <li class="level-1 category-Dresses hasSubCategory line">
                                <a href="https://www.reitmans.com/en/dresses" class="level-1" id="category-Dresses-link" data-id="Dresses" style="padding-left: 5px; padding-right: 5px;">Dresses</a>
                            </li>
                            <li class="level-1 category-Work-Wear hasSubCategory line">
                                <a href="https://www.reitmans.com/en/work-wear" class="level-1" id="category-Work-Wear-link" data-id="Work-Wear" style="padding-left: 5px; padding-right: 5px;">Wear to Work</a>
                            </li>
                            <li class="level-1 category-get-inspired hasSubCategory line">
                                <a href="https://www.reitmans.com/en/get-inspired" class="level-1" id="category-get-inspired-link" data-id="get-inspired"
                                    style="padding-left: 5px; padding-right: 5px;">Get Inspired</a>
                            </li>
                            <li class="level-1 category-HYBA hasSubCategory line">
                                <a href="https://www.reitmans.com/en/hyba-activewear" class="level-1" id="category-HYBA-link" data-id="HYBA" style="padding-left: 5px; padding-right: 5px;">HYBA Activewear</a>
                            </li>
                            <li class="level-1 category-Sale last hasSubCategory line">
                                <a href="https://www.reitmans.com/en/sale" class="level-1" id="category-Sale-link" data-id="Sale">Sale</a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- /navigation -->
            </div>
        </div>


  <style>
        /*Custom code contact us form*/
        .container {
            font-weight: normal;
            padding: 50px 0;
            width: 100%;
            max-width:950px;
            margin: 0 auto;
        }

        .container p1{
            font-size: 36px !important;
            font-weight: bold;
        }

        .container p2{
            font-size: 30px !important;
        }
        .container p3{
            font-size: 16px !important;
        }
        .container p4{
            font-size: 18px !important;
        }
        .container p5{
            font-size: 20px !important;
            text-decoration: underline;
        }


        @media (min-width:900px) {
             .contactUsForm {
                margin: 10px 50px 0 0;
            }
        }
        @media (max-width:900px) {
             .contactUsForm {
                margin-top: 140px;
            }
        }

        @media (max-width:767px) {
            .theImage{
                display:none;
            }
        }

        @media (max-width: 960px) {
            .footerSocialIcons {
                width: 232px;
            }
        }

        @media (min-width: 960px) {
            .container_24 .grid_6, .container_24.grid_6 {
                width: 232px;
            }
        }
        @media (min-width: 960px) {
            .container_24 .grid_24, .container_24.grid_24 {
                width: 952px;
            }
        }

        .col-sm-7 > p1{
            font-size: 35px;
        }
        .col-sm-7 > p2{
            font-size: 20px;
        }
        .row {
            width:100%;
            margin:0;
        }
        .theImage{
            float: right;
            vertical-align: text-top;
            height: 133px;
        }
        .ContactUsHeader {
            padding: 15px;
            display: inline-block;
        }
        .support-content * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: "Verlag A", "Verlag B", sans-serif;
        }

        .support-content a {
          display: block;
        }

        .button-cta {
          background-color: #000;
          color: #fff;
          font-size: 12px;
          height: 36px;
          margin: 20px auto 0;
          padding: 0 30px;
          text-align: center;
          text-transform: uppercase;
        }

        @media screen and (max-width: 640px) {
            .button-cta {
                width: 100%;
            }
        }

        .rcl-button-custom {
          font-family: "Verlag A", "Verlag B", sans-serif !important;
          background-color: rgb(0,0,0) !important;
        }
        .textinput select{
            -moz-appearance:menulist;
        }

/*        #header .menu-utility a, #header .menu-utility-user a, #header .locale-switch a {
            font-family: "Verlag A", "Verlag B", sans-serif;
        }
        #navigation ul.level-1 a {
            font-family: "Verlag A", "Verlag B", sans-serif;
        }
        #footer .generalLinks .linkboxcolumn.grid_4 .header3 {
            font-family: "Verlag A", "Verlag B", sans-serif;
        }
        #footer .all-Brandlogos-reti .Brandlogos-reti-label {
            font-family: "Verlag A", "Verlag B", sans-serif;
        }
        #footer .footerSocialIcons .header3 {
            font-family: "Verlag A", "Verlag B", sans-serif;
        }
        #footer #footer-email-signup div.headline {
            font-family: "Verlag A", "Verlag B", sans-serif;
        }
        #footer .generalLinks a {
            font-family: "Verlag A", "Verlag B", sans-serif;
        }
        #footer .footerBottomLine a {
            font-family: "Verlag A", "Verlag B", sans-serif;
        }
        #footer .footerBottomLine {
            font-family: "Verlag A", "Verlag B", sans-serif;
        }
        #footer .generalLinks .header3 {
            font-family: "Verlag A", "Verlag B", sans-serif;
        }*/

        #contactUsInfo {
            z-index: 1;
        }

        .holiday-hours {
          color: #aaa;
          font-size: 12px;
        }

</style>



    <div  class="container support-content">
        <div class="ContactUsHeader">
            <p1>Customer Service</p1><br/><br/>
        </div>
            <apex:image styleClass="theImage" value="{!$Resource.ContactUsImg}" />
        
        
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 pull-top">
              <p2>FAQ</p2> <br/>
              <p3>Be sure to check our FAQ first to get instant answers to common questions:</p3> <br /><br />
              <apex:outputLink value="https://www.reitmans.com/en/FAQ.html#placing-order-online"><p5>
                  Placing an order online
              </p5></apex:outputLink><br />
              <apex:outputLink value="https://www.reitmans.com/en/FAQ.html#order-cancellations"><p5>
                  Order/Item Cancellations
              </p5></apex:outputLink><br />
              <apex:outputLink value="https://www.reitmans.com/en/FAQ.html#modify-order"><p5>
                  Can I modify an order once it’s been submitted?
              </p5></apex:outputLink><br />
              <apex:outputLink value="https://www.reitmans.com/en/FAQ.html#price-adjustment-policy"><p5>
                  What is your price adjustment policy?
              </p5></apex:outputLink><br />
              <apex:outputLink value="https://www.reitmans.com/en/FAQ.html#check-order-status"><p5>
                  How can I check the status of my order?
              </p5></apex:outputLink><br />
              <apex:outputLink value="https://www.reitmans.com/en/FAQ.html">
                  <button class="button-cta">See all FAQ</button>
              </apex:outputLink>
          </div>

      </div>

      <div class="row" style="margin-top: 60px;">
        <div class="col-xs-12 col-sm-12 col-md-12 pull-top">
            <p2>Do you need assistance with...?</p2> <br />
            <p3>(Please select from the choices bellow)</p3>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-xs-12 col-sm-7 col-md-6 pull-top">


            <c:ContactUsForm banner="Reitmans" lang="Eng"/>

            
        </div>
      </div>

       <div class="row" style="margin-top: 60px;">
        <div class="col-xs-12 col-sm-7 col-md-6 pull-top">
            <p2>Call us</p2> <br/>
            <p2>1-866-734-8626</p2> <br/>
            <p4>Monday-Friday 9am-8pm ET <br/>
                Saturday-Sunday 9am-4pm ET
            </p4>
        </div>
      </div>

        <div style="text-align: center; padding-top: 60px;">
            <p2>We will get back to you as soon as possible.</p2>
        </div>

    </div>


    <!-- ################### -->
    <!-- FOOTER markup -->
    <!-- ################### -->


        <div class="section pt_storefront footer">
            <div class="wrapper container_24">
                <div id="footer" role="contentinfo">
                    <footer>
                        <div class="content-asset footer-copy">
                            <div class="email-social">
                                <div class="footer-email use-fixed-grid">
                                    <h3 class="subscribe-title">We treat our friends really well</h3>
                                    <p class="subscribe-offer">Sign up for emails and receive an exclusive <strong>20% off</strong> code, sent straight to your inbox within 48&nbsp;hours.</p>
                                    <div class="emailsignup-footer-cntr">
                                        <form method="get" action="https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/default/Newsletter-FooterSignUp" id="footer-email-signup" name="footer_email_signup">
                                            <div class="headline">Be the first to know</div>
                                            <div class="subheadline">Get our newsletter!</div>
                                            <input name="newsletter" value="1" type="hidden" />
                                            <fieldset>
                                                <div class="formfield">
                                                    <div class="value">
                                                        <input class="valid" name="email" id="footer-signup-email" maxlength="50" placeholder="Enter email address" type="text" />
                                                        <!-- for layout reasons there must be no space between input field and button -->
                                                        <button type="submit" class="btn btn-default primary-font"><span class="headline"><span class="firstword">Subscribe</span> now</span></button>
                                                    </div>
                                                    <div class="errormessage" style="display:none;" id="opt-in-server-error">Oops, this request was unsuccessful due to a technical problem. Please try again later!</div>
                                                    <div class="errormessage" style="display:none;" id="opt-in-error">Oops, there is an error with the format of the email address you submitted. Possible errors include forgetting the @ sign, or .com, .ca, or .net at the end of your email address.</div>
                                                    <div class="clear"><!-- FLOAT CLEAR --></div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="footer-social use-fixed-grid">
                                    <a href="https://www.facebook.com/Reitmans" target="_blank" title="Facebook" class="social-icon btn_facebook">
                                        <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dw98dd20a2/images/footer-facebook-logo.svg" alt="Facebook" />
                                    </a>
                                    <a href="https://pinterest.com/reitmans" target="_blank" title="Pinterest" class="social-icon btn_pinterest">
                                        <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dwd8acb9a0/images/footer-pinterest-logo.svg" alt="Pinterest" />
                                    </a>
                                    <a href="https://twitter.com/reitmans" target="_blank" title="Twitter" class="social-icon btn_twitter">
                                        <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dwa158632a/images/footer-twitter-logo.svg" alt="Twitter" />
                                    </a>
                                    <a href="https://www.youtube.com/user/ReitmansTV" target="_blank" title="Youtube" class="social-icon btn_youtube">
                                        <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dw6b72031d/images/footer-youtube-logo.svg" alt="Youtube" />
                                    </a>
                                    <a href="https://instagram.com/reitmans" target="_blank" title="Instagram" class="social-icon btn_instagram">
                                        <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dw02e59631/images/footer-instagram-logo.svg" alt="Instagram" />
                                    </a>
                                    <a href="https://blog.reitmans.com" target="_blank" title="Reitmans Blog" class="social-icon btn_blog">
                                        <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dwcaf27245/images/footer-blog-logo.svg" alt="Blog" />
                                    </a>
                                    <a href="http://blog.hyba.ca" target="_blank" title="Hyba Blog" class="social-icon btn_hyba_blog">
                                        <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dw68e6808e/images/footer-hyba-blog-logo.svg" alt="Hyba Blog" />
                                    </a>
                                </div>
                            </div>
                            <div class="generalLinks linksBox">
                                <div class="linkbox-container use-fixed-grid clearfix">
                                    <div class="linkboxcolumn prefix_2 grid_5 ml_prefix_0 ml_grid_24">
                                        <div class="header3 linkboxcolumn-header" data-id="Shopping Information">Shopping
                                            Information
                                        </div>
                                        <ul class="linkboxcolumn-body">
                                            <li>
                                                <a href="https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/default/Stores-Find" title="Find a Reitmans Store" data-id="Find a Store">Find a Reitmans Store</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/en/hyba-find-a-store.html" title="Find a Hyba Store" data-id="HYBA_Store_Locator">Find a Hyba Store</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/en/gift-cards.html" title="Gift Cards" data-id="Gift Cards">Gift Cards</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/default/Account-Show" title="My Account" data-id="My Account">My Account</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/default/Order-Status" title="Order Status" data-id="Order Status">Order Status</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/en/FAQ.html#shipping-policy" title="Shipping" data-id="Shipping">Shipping</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/en/FAQ.html#returns-policy" title="Returns" data-id="Returns">Returns</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="linkboxcolumn grid_5 ml_grid_24">
                                        <div class="header3 linkboxcolumn-header" data-id="Clothing Guide">Clothing
                                            Guide
                                        </div>
                                        <ul class="linkboxcolumn-body">
                                            <!-- <li>
                                                <a href="https://www.reitmans.com/en/size-chart.html" title="Size Chart" data-id="Size Chart">Size Chart</a>
                                            </li> -->
                                            <li>
                                                <a href="https://www.reitmans.com/en/garmentcare-symbols.html" title="Garment Care" data-id="Garment Care">Garment Care</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/default/Wishlist-Show" title="Wish List" data-id="Wish List">Wish List</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="linkboxcolumn grid_5 ml_grid_24">
                                        <div class="header3 linkboxcolumn-header" data-id="Customer Service">Customer
                                            Service
                                        </div>
                                        <ul class="linkboxcolumn-body">
                                            <li>
                                                <a href="http://reitmans.force.com/ContactUsReitmansEng" title="Contact Us" data-id="Contact Us">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="https://opinion.reitmans.com/jfe/form/SV_aVqlRq2ls6kO149" target="_blank" title="Feedback" data-id="Feedback">Feedback</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/en/FAQ.html" title="FAQ" data-id="FAQ">FAQ</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/on/demandware.store/Sites-Reitmans_CA-Site/default/SiteMap-Start" title="Site Map" data-id="Site Map">Site Map</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/en/privacy-policy.html" title="Privacy Policy" data-id="Privacy Policy">Privacy Policy</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/en/termsofuse.html" title="Terms of Use" data-id="Terms of Use">Terms of Use</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="linkboxcolumn grid_5 suffix_2 ml_grid_24 ml_suffix_0">
                                        <div class="header3 linkboxcolumn-header" data-id="General Information">General
                                            Information
                                        </div>
                                        <ul class="linkboxcolumn-body">
                                            <li>
                                                <a href="http://lookbook.reitmans.com/?lang=enu" title="Flyer" data-id="Flyer">Lookbook</a>
                                            </li>
                                            <li>
                                                <a href="http://www.reitmanscanadalimited.com/about-us.aspx?lang=en" target="_blank" title="About Us" data-id="About Us">About Us</a>
                                            </li>
                                            <li>
                                                <a href="http://www.reitmanscanadalimited.com/why-reitmans.aspx?lang=en" target="_blank" title="Careers" data-id="Careers">Careers</a>
                                            </li>
                                            <li>
                                                <a href="https://www.reitmans.com/en/hyba_store_events" title="Hyba Store Events" data-id="HYBA_Store_Events">Hyba Store Events</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="brand-logos">
                                <p class="brand-logos-label">Shop our brands:</p>
                                <a title="Penningtons" class="footer-brand-logo" target="_blank" href="https://www.penningtons.com/">
                                    <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dw34c41948/images/penningtons-logo.svg" alt="Penningtons" />
                                </a>
                                <a title="Addition Elle" class="footer-brand-logo" target="_blank" href="https://www.additionelle.com/">
                                    <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dwd075a983/images/additionelle-logo.svg" alt="Addition Elle" />
                                </a>
                                <a title="RW &amp; Co." class="footer-brand-logo" target="_blank" href="https://www.rw-co.com/">
                                    <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dwfd46474f/images/rw-logo.svg" alt="RW &amp; Co." />
                                </a>
                                <a title="Thyme Maternity" class="footer-brand-logo" target="_blank" href="https://www.thymematernity.com/on/demandware.store/Sites-Thyme_CA-Site/default/Home-Show?langChanged=">
                                    <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dw95bdaddb/images/thyme-logo.svg" alt="Thyme Maternity" />
                                </a>
                                <a title="Hyba Activewear" class="footer-brand-logo" target="_blank" href="https://www.reitmans.com/en/hyba-activewear">
                                    <img src="https://www.reitmans.com/on/demandware.static/-/Sites-Reitmans_CA-Library/default/dw3be4d2df/images/hyba-logo.svg" alt="Hyba Activewear" />
                                </a>
                            </div>
                            <div class="rcl-copyright">
                                <span class="line"><a href="http://www.reitmanscanadalimited.com/about-us.aspx?lang=en">About Reitmans (Canada) Limited</a></span>
                                <span class="line">© <span id="copy_year" class="copy_year">2016</span> Reitmans (Canada) Limited. All rights reserved.</span>
                                <script>
                                    document.getElementById("copy_year").innerHTML = new Date().getFullYear();
                                </script>
                            </div>
                        </div>
                        <!-- end: content-asset -->
                    </footer>
                </div><!-- /footer -->
            </div>
        </div>








</apex:page>