.THIS {
}

.THIS .slds-form-element__label {
	display : none;
	visibility : hidden;
}

.THIS .filter-filtered {
	display : none;
	visibility : hidden;
}

.THIS .content-list {
	width: 100%;
	position: inherit;
	float: left;
	top: 0;
	padding: 0px 0px;
	margin: 0px 0px;	
	z-index: 1;
}

.THIS .content-list-wrapper {
	width: 100%;
	position: inherit;
	float: left;
	top: 0;
	padding: 0px 0px;
	margin: 0px 0px;	
	z-index: 1;
}

.THIS .search {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
    border: none;
	color:#fff;
	padding: 10px 10px;
    margin: 0px 0px;
    width: 300px;
	text-align: left;
    text-decoration: none;
    display: inline-block;
}