.THIS {
}

.THIS .search-filtered {
	display : none;
	visibility : hidden;
}

.THIS .content-tile {
	position: inherit;
	width: 100%;
	height: 90px;
	overflow: hidden;
	position: relative;
	float: left;
	top: 0;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
	padding: 10px;
	margin: 10px;
	z-index: 1;
}

.THIS .content-tile-seeall {
	position: relative;
	float: right;
	top: 0;
	z-index: 1;
}