.THIS {
	position: relative;	
}

.THIS .nav-trail {
	width: 75%;
	height: 50px;
	position: relative;
	float: right;
	top: 0;	
	z-index: 1;
}

.THIS .nav-panel {
	margin-top: 49px;
	margin-left:25%;
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;	
	box-shadow: 4px 4px 20px transparent;
	z-index: 2;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
	-moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
	transition: transform 0.3s, box-shadow 0.3s;
}

.THIS .main-content {
	width: 75%;
	height: 100%;
	position: relative;
	float: right;
	top: 0;
	z-index: 1;
}

.THIS .footer-content {
	width: 75%;
	height: 100%;
	position: relative;
	min-height: 75px;
	float: right;
	top: 0;
	z-index: 1;
}

.THIS .panel-content {
	width: 100%;
	margin: 0;
	padding: 15px 2%;
	-webkit-transition: width 0.3s,margin 0.3s;
	-moz-transition: width 0.3s,margin 0.3s;
	transition: width 0.3s,margin 0.3s;
}